# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Logs
logs
*.log
*.pid
*.seed
*.pid.lock

# Environment files
.env
.env.*

# Coverage
coverage/
.nyc_output/

# Build output
dist/
build/
tmp/
temp/

# VSCode
.vscode/

# Others
.idea/
*.sublime-workspace
*.sublime-project